:root {
    /* Color scheme for the website */
    --white: #ffffff;
    --dark-white: #f5f5f5;
    --light-grey: #dcdcdc;
    --grey: #666666;
    --dark-grey: #696969;
    --light-black: #333333;
    --black: #212121;
    --sans-font: "Inter var", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif;
}

html {
    background: var(--white);
    -webkit-text-size-adjust: none;
}

body {
    font-family: var(--sans-font);
    color: var(--black);
    max-width: 1000px;
    padding: 0 13px;
    margin: 40px auto;
}

main h1,
h2,
h3,
strong {
    font-weight: 600;
}

a {
    color: var(--grey);
}

/* navbar configuration */
nav {
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

svg {
    fill: var(--grey);
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 10px;
    font-size: 25px;
}

nav li a {
    text-decoration: none;
}

nav button {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

nav button a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--light-grey);
}

table th {
    background-color: var(--dark-white);
}

table tr:hover {
    background-color: var(--light-grey);
}

/* custom classes */
.not-found {
    margin-top: 30%;
    text-align: center;
    font-size: 2rem;
}

.contact {
    max-width: 800px;
    margin: 0 auto;
}

.contact-header {
    display: flex;
    align-items: center;
}

.contact-header h1 {
    font-size: 2.5rem;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 10px;
}

.contact-header svg {
    margin: 0 5px;
}

.contact p {
    font-size: 1.5rem;
    color: var(--grey);
}

.contact-schedule {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact span {
    margin-right: auto;
}

.contact span h2 {
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--light-black);
}

.contact span p {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--grey);
}

.contact-notes h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--light-black);
}

.contact-notes p {
    font-size: 1rem;
    color: var(--grey);
    width: 100%;
    border: 1px dashed var(--black);
    padding: 5px;
    font-size: 1.25rem;
}

.conta .add-contact {
    background-color: var(--dark-white);
    border-radius: 5px;
    padding: 11px;
}

.nav-primary {
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.add-contact-form {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

.add-contact-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.add-contact-form textarea {
    display: block;
    width: 100%;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
    height: 10rem;
    background-clip: padding-box;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
}

.add-contact-form select,
.add-contact-form input {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    height: 2.5rem;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
}

.login {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
}

.login form div {
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.login div label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.login input,
.login div input {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    height: 2.5rem;
    background-clip: padding-box;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
}

.login-error {
    text-align: center;
    color: var(--grey);
    margin: 10px;
    font-size: 0.9rem;
    text-decoration: underline;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
    padding: 10%;
    font-size: 100px;
}