:root {
    /* Color scheme for the website */
    --white: #ffffff;
    --light-grey: #f5f5f5;
    --grey: #666666;
    --black: #212121;
    --sans-font: "Inter var", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif;
}

html {
    background: var(--white);
    -webkit-text-size-adjust: none;
}

body {
    font-family: var(--sans-font);
    color: var(--black);
    max-width: 1000px;
    padding: 0 13px;
    margin: 40px auto;
}

a {
    color: var(--grey);
}

/* navbar configuration */
nav {
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav svg {
    fill: var(--grey);
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 10px;
    font-size: 25px;
}

nav li a {
    text-decoration: none;
}

nav button {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

nav button a {
    text-decoration: none;
}

/* Custom Classes */
.add-contact {
    background-color: var(--light-grey);
    border-radius: 5px;
    padding: 11px;
}

.nav-primary {
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
    padding: 10%;
    font-size: 100px;
}