{{ define "contact"}}
<html>
<!--Head-->
{{ template "head" . }}
<!--Navigation Bar-->
{{ template "navbar" . }}
<!--Main Page-->
<main>
    <section class="contact">
        <div class="contact-header">
            <h1>{{ .Contact.Name }}</h1>
            <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35">
                <path
                    d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35">
                <path
                    d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
            </svg>
        </div>
        <p>{{ .Contact.Email }} | {{ .Contact.Phone }}</p>
        <div class="contact-schedule">
            <span>
                <h2>{{ .Contact.NextContact.Format "Jan 02, 2006" }}</h2>
                <p>Next Contact</p>
            </span>
            <span>
                {{ if .Contact.LastContact.IsZero }}<h2>Never</h2>{{ else }}<h2>{{ .Contact.LastContact.Format "Jan 02, 2006" }}</h2>{{ end }}
                <p>Last Contact</p>
            </span>
            <span>
                <h2>{{ .Contact.Category }}</h2>
                <p>Contact Frequency</p>
            </span>
        </div>
        <div class="contact-notes">
            <h3>Notes</h3>
            <p>{{ .Contact.Notes }}</p>
        </div>
    </section>

</main>

</html>
{{ end }}
