{{ define "contact"}}
<html>
<!--Head-->
{{ template "head" . }}
<!--Navigation Bar-->
{{ template "navbar" . }}
<!--Main Page-->
<main>
  <section>
    <h1>{{ .Contact.Name }}</h1>
    <p>{{ .Contact.Email }} | {{ .Contact.Phone }}</p>
    <div>
        <h2>{{ .Contact.NextContact.Format "Jan 02, 2006" }}</h2>
        <p>Next Contact</p>
        <h2>{{ .Contact.LastContact.Format "Jan 02, 2006" }}</h2>
        <p>Last Contact</p>
        <h2>{{ .Contact.Category }}</h2>
        <p>Contact Frequency</p>
    </div>
    <p>Notes</p>
    <div>
        <textarea>{{ .Contact.Notes }}</textarea>
    </div>
</section>

</main>
</html>
{{ end }}
