{{ define "edit-contact"}}
<html>
<!--Head-->
{{ template "head" . }}
<!--Navigation Bar-->
{{ template "navbar" . }}
<!--Main Page-->
<main>
    <section class="contact">
        <form action="/api/contacts/{{ .Contact.ID }}" method="POST" id="edit-contact">
            <div class="contact-header">
                <input type="text" id="name" name="name" value="{{ .Contact.Name }}">
            </div>

            <div class="contact-info">
                <input type="email" id="email" name="email" value="{{ .Contact.Email }}">
                <input type="tel" id="phone" name="phone" value="{{ .Contact.Phone }}">
            </div>

            <div class="contact-schedule">
                <span>
                    <input type="date" id="nextContact" name="nextContact" value="{{ .Contact.NextContact.Format "2006-01-02" }}">
                    <p>Next Contact</p>
                </span>
                <span>
                    <input type="date" id="lastContact" name="lastContact" value="{{ if .Contact.LastContact.IsZero }}{{ else }}{{ .Contact.LastContact.Format "2006-01-02" }}{{ end }}">
                    <p>Last Contact</p>
                </span>
                <span>
                    <select name="category" id="category">
                        <option value="A" {{ if eq .Contact.Category "A" }}selected{{ end }}>A</option>
                        <option value="B" {{ if eq .Contact.Category "B" }}selected{{ end }}>B</option>
                        <option value="C" {{ if eq .Contact.Category "C" }}selected{{ end }}>C</option>
                        <option value="D" {{ if eq .Contact.Category "D" }}selected{{ end }}>D</option>
                    </select>
                    <p>Contact Frequency</p>
                </span>
            </div>

            <div class="contact-notes">
                <h3>Notes</h3>
                <textarea id="notes" name="notes">{{ .Contact.Notes }}</textarea>
            </div>

            <div class="contact-submit">
                <input type="submit" value="Update Contact">
            </div>
        </form>

        <script>
            const editForm = document.getElementById("edit-contact");
            editForm.addEventListener('submit', async(event) => {
                // Prevent the form from submitting
                event.preventDefault();
                const data = new FormData(editForm);
                const response = await fetch('/api/contacts/{{ .Contact.ID }}', {
                    method: 'POST',
                    body: data
                });

                if (!response.ok) {
                    console.error('Error:', response.statusText);
                } else {
                    const json = await response.json();
                    window.location.href = '/contacts/{{ .Contact.ID }}';
                }
            })
        </script>

    </section>
</main>

</html>
{{ end }}
