{{ define "index"}}
<html>
{{ template "head" . }}
{{ template "navbar" . }}
<main>
    <div class="row">
        <section class="column">
            <h2>Upcoming</h2>
            {{ if .Upcoming }}
              {{ range .Upcoming }}
              <p>{{ .Name }} – {{ .NextContact.Format "Jan 02, 2006" }}</p>
              {{ end }}
            {{ else }}
              <p>SoonTM</p>
            {{ end }}
        </section>
        <section class="column">
            <h2>Recent</h2>
            {{ if .Recent }}}
              {{ range .Recent }}
              <p>{{ .Name }} – {{ .NextContact.Format "Jan 02, 2006" }}</p>
              {{ end }}
            {{ else }}
              <p>SoonTM</p>
            {{ end }}
        </section>
    </div>
</main>

</html>
{{ end }}
