{{ define "navbar" }}
<nav>
    <ul>
        <li><a href="/dashboard">dashboard</a></li>
        <li><a href="/contacts">contacts</a></li>
        <li><a href="/settings">settings</a></li>
    </ul>
    <button class="add-contact"><a href="/add-contact">+contact</a></button>
    <button class="logout"><a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 -960 960 960" width="24">
                <path
                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
            </svg></a></button>

</nav>
{{ end }}